<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logintest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/taxi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/taxi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Logintest" >
        <activity
            android:name=".seetrip"
            android:exported="false" />
        <activity
            android:name=".jointrip"
            android:exported="false" />
        <activity
            android:name=".creattrip"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>